.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f6ff;
  padding: 20px;
}

/* Styles for meteo */
.meteo {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Styles for favorites */
.favorites {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Styles for forecast */
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for each forecast item */
.forecast-item {
  width: calc(100% / 7);
  max-width: 120px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Styles for h1 */
h1 {
  text-align: center;
  color: #0084ff;
  margin-bottom: 20px;
}